.ncctitleim img {
  box-shadow: none;
  margin-bottom: 0px;
}

.im1 {
  text-align: center;
}

#tritonim img {
  box-shadow: none;
}

.surpriseim {
  margin-left: 0px;
  margin-bottom: 10px;
}

.surprisecontent {
  margin-top: 11px;
}

#and {
  margin-top: 70px;
}

.surpriseends {
  padding-left: 20px;
  padding-bottom: 25px;
}

.noimshadow {
  box-shadow: none;
  margin-top: 10px;
}

/*--------test--*/
#ncc ul {
  list-style: none;
  font-size: 20px;
  margin-left: 0px;
}

#bikepad {
  margin-bottom: 20px;
}

#ncc li {
  line-height: 27px;
}

#ncctitle .span4 h2 {
  color: #515355; 
  margin-bottom: 10px;
}
.subcontainer {
  height: 760px;
}


.subcontainerColored {
  height: 760px;
  background-color: #1F6186;
  color: rgb(207, 222, 224);
}

.subcontainerColored h3 {
  color: rgb(207, 222, 224);
}

.subcontainerColored h4 {
  color: rgb(207, 222, 224);
}

.paddingbottom {
  margin-bottom: 40px;
}

.paddingtop {
  margin-bottom: 20px;
}

#logo a:hover {
   color: rgb(79, 178, 209) !important; 
}

.imagePaddingTop {
  margin-top: 20px;
}

#subcontainer6 {
  height: 450px;
}
/*----------------*/


.RColPadding {
  margin-left: 10px;
}



#name {
  font-size: 45px !important;
  color: #5E6266;
  position: absolute;
  margin-top: 40px;
  text-decoration: none;
  margin-left: 1px;
}

#title {
  font-size: 16px;
  margin-top: 72px;
  position: absolute;
  color: rgb(162, 162, 162);
}



#GlobalNav li #logo{
  float: none;
}



#global {
  background: url('../im/concrete_wall.png');
  height: 100px;
  -webkit-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px
}

.HomeSpacing {
  margin-top: 5em;
}

#header {
  /* margin-left: 151px;*/
  margin-right: 12px;
}

#RightAlign {
  text-align: right;
}

#header_about {
  margin-left: 106px;
  float: right;
}

#HeaderContact {
   margin-left: 133px;
}

#firstquote h6 {
  margin-top: 110px;
}

#aboutcontainer .subcontainer {
  height: 550px
}

#aboutpadding img {
  margin-left: 20px;
  box-shadow: none;
}

/* ----------------------------------------      Global Navigation      ---------------------------------------- */

/* fill space beneath GlobalNav */
#HiddenGlobalBlock {
   display: block;
   height: 80px;
   position: relative;
   padding-bottom: 2em;

}

#banner {
   height: 80px;
   background: url('../im/logo.jpg');
   padding-top:10px;
   margin-top:6px;
   margin-right: 50px;
}


/*merge with id=banner? need to fix size values*/
#banner_clickable {
   display: block;
   height: 80px;
   width: 500px;
   position: absolute;
   z-index: 1;
}

/* GlobalNav bg */

.fill {
     height: 100px;
     padding-bottom: 10px;
     box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.2);
     -webkit-box-shadow: 10px 5px 3px rgba(0, 0, 0, 0.2);
}


#GlobalNav ul {

   /*border-bottom: 5px solid #EEF0F1;
   height: 61px; /*61bottom bar height*/
   padding-top: 10px;
}   

/* remove default ul styles */   
#GlobalNav ul {  
   list-style: none;  /* remove bullet points*/   
   margin: 0;
      /*padding: .8em;   /*spacing b/n tabs*/
      /*color: #17608E;*/
}
   
/* position the nav elements */   
#GlobalNav li {
   float: right; 
   margin-left: 25px; /*spacing between nav elements*/
   margin-top: 60px;
} 
      
/* font styles */
#GlobalNav li a {
   display: inline; 
   text-decoration: none;
   color: rgb(153, 153, 160);
   font-size: 23px;
}
     

/* mav elements hover style */


#GlobalNav li a:hover {
   /*border-bottom: 1px solid #17608E; */  
   color: rgb(79, 178, 209) !important; /*#4C4B49;*/
}

/* mav elements active style */
#active {
   color: #307AA3 !important;
   font-size: 18px;
  /* text-decoration: underline; */
   background-size: 50px 50px;
}


/* ----------------------------------------      Sub Navigation      ---------------------------------------- */
/* remove default ul styles */   
#SideNav ul {  
   list-style: none;  /* remove bullet points*/   
   margin: 0px;
   padding-right: 20px;
   padding-top: 0px;
   text-align: right;
   float: left;
   position: fixed; 
   margin-left:30px;
}

/* font styles */
#SideNav li a {
   text-decoration: none;
   color: #686D70; /*#4C4B49; */
   font-size: 17px;
   line-height: 30px;
   padding-right:13px;

}

/* mav elements hover style */   
#SideNav li a:hover {
   /*border-bottom: 1px solid #17608E; */  
   color: rgb(38, 134, 213) !important;
}

#SideNav li a.selected {
   color: #00579E;
   border-right: 3px solid #00579E;
   padding-right: 10px
}

#blog {
   margin-left: 110px;
}

/*  ----------------------------------------      Content ----------------------------------------  */
#project > p {
   font-size:16px;
   line-height: 1.4em;
}

#phases {
   margin-left: 20px;
}

#WebsiteLink {
   margin-top: -15px;  
}

#WebsiteLink li {
   font-size: 15px;
   list-style: square;
   line-height: 1.5em;
}

#WebsiteLink li a{
   color: #00579E;
}

#WebsiteLink li a:hover {
   text-decoration: none;
}

/*  ----------------------------------------      Contact ----------------------------------------  */
#FormBackground {
   width: 370px;
   height: 400px;
   background: white;
   margin-left: 60px;
   position: absolute;
   margin-top: 5px;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

#buttons_alignment {
   margin-left: 270px;
   padding-top: 1em;
}
#FormStyle {
   position: relative;
   margin-top: 50px;
   padding-bottom: 10em;
}

/*  ----------------------------------------      Style Guide      ----------------------------------------  */

.background {
    background-image: url('../im/exclusive_paper.png');
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   font-family: 'Open Sans', sans-serif;
   color: inherit;
   text-rendering: optimizelegibility;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  color: #999999;
} 
   
h1 {
   font-size: 35px;
   font-weight:0;
   line-height: 20px;
   padding-bottom: 40px;
   margin-top: 10px;
   padding-top: 1em;
}
   
h1 small {
   font-size: 18px;
}
   
h2 {
   font-size: 23px;
   margin-bottom: 1em;
   line-height: 1.5em;
   color: rgb(214, 239, 245);
}
   

h2 small {
   font-size: 21px; 
   color: rgb(214, 239, 245);
}

#specialhead h2 {
  margin-bottom: 15px
}

#specialhead .span3 {
  width: 235px;
}

h3 {
   font-family: 'Open Sans', sans-serif; 
   font-size: 40px;
   padding-bottom: 1.5em;
   padding-top: 1em;
   line-height: 1.5em;
   color: #515355; 
   text-align: center;
}

#resume a {
  text-decoration: none;
  color: #00579E;
}

.steptitle {
  font-size: 40px;
  line-height: 50px;
}

.steptitle1 {
  font-size: 30px;
  line-height: 40px;
}

.stepsubtitle {
  font-size: 30px;
}

.stepsubtitle1 {
  font-size: 20px;
}

#resume a:hover{
  text-decoration: underline;
}

#strikehtrough {
  text-decoration: line-through;
}

h3 small {
   font-size: 
}
   
h4,
h5,
h6 {
     line-height: 
}
   
h4 {
   font-size: 23px;
   margin-bottom: .5em;
   line-height: 1.5em;
   color: #4C4B49;
}
   
h4 small {
   font-size: 
}
   
h5 {
   font-size: 35px;
   font-weight:0;
   line-height: 20px;
   color: white;
   font-family: 'Open Sans', sans-serif; 
   margin-bottom: 30px;
}

.smallfont {
  color: #515355;
  margin-left: 21px;
}

#selfphoto {
  box-shadow: none;
  margin-left: 40px;
}   

h6 {
   font-size: 55px;
   font-weight:0;
   line-height: 20px;
   color: #4B4F52;
   font-family: 'Open Sans', sans-serif; 
   margin-top: 150px;
   margin-bottom: 80px;
   text-align: center;
}

#resume {
  color: #307AA3;
}
#aboutpadding {
  margin-top: 80px;
  text-align: center;
}

#about1padding {
  margin-top: 200px;
}

#about1padding2 {
  margin-top: 80px;
}

.titlesize {
  font-size: 25px;
  line-height: 35px;
}

.titlesize2 {
  font-size: 23px;
  line-height: 35px;
  text-align: center;
}

#itmeans{
  margin-top: 40px;
}

.itmeanss {
  font-size: 48px;
  line-height: 78px;
  margin-top: 50px;
  text-align: center;
}

.roletitle {
  color: white;
}

#bikelastcontent {
  font-size: 23px;
  line-height: 35px;
  text-align: center;
}

.title {
   margin: 0;
   font-family: 'Open Sans', sans-serif;
   color: #DDE3E4;
   text-rendering: optimizelegibility;
   font-weight: 800;
}


#casual {
  margin-left: 23px;
}

p {
   margin: 0 0 0px;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 15px;
   line-height: 22px;
   padding-bottom: 1em;
}

p small {
  font-size: 11px;
  color: #999999;
}   

.paddingtop1 {
  margin-top: 15px;
}

img {
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
   margin-bottom: 2em;
}

#portfolio_image {
   padding:0;
   max-width: 100%;
}

.subtitle {
   font-weight: 600;
}

.highlights {
   font-size: 14px;
   line-height: 23px;
}

.highlights ul {
   list-style-type: square;
}

.photo {
   border: 1px solid #E7EAF1;
   padding: 15px;
   box-shadow: 5px 5px 15px #888;
}

#return {
  font-size: 18px;
  float: right;
  padding-bottom: 1em;
  color: #00579E;
}



/* ----------------------------------------      Footer      ---------------------------------------- */
/* footer bg */
#footer {
   background: #1F6186;
   border-top: 1px solid #A29F9F; 
   height: 200px; /*bottom bar height*/
   padding-top:90px;
   text-align: center;
   color: rgb(199, 209, 214);
   font-size: 30px;
   font-family: 'Open Sans', sans-serif;
}
 
#firstline{
  padding-bottom: .5em;
  color: rgb(199, 209, 214);
}

#copyright {
  padding-top: 1.5em;
  font-size: 20px;
  color: rgb(46, 48, 49);
}


/* --------------------------------------- about -------------------------------- */
#extra_content_space{
   padding-bottom: 250px;
}

#extra_footer_space{
   padding-bottom: 50px;
}


/* --------------------------------------- portfolio pages: image styling; -------------------------------- */
.suchefphoto {
  margin-right: 45px;
}

#attorney {
  padding-bottom: 79px;
  background-color: white;
}

#attorneyimage2 {
  padding-bottom: 89.9px;
  background-color: white;
}

#attorneyimage3 {
  padding-bottom: 58px;
  background-color: white;
}

.projectlist {
  padding: 10px;
}

.projectlist li {
  padding: 5px;
  list-style: none;
  margin-left: -40px;
  }

.paddingtop5 {
  margin-top: 30px;
}

#schedule {
  max-width: 100% !important;
}
/*------------------------------- back to top --------------------- */
#elevator_item {
width: 60px;
height: 100px;
position: fixed;
right: 15px;
bottom: 10px;
-webkit-transition: opacity .4s ease-in-out;
-moz-transition: opacity .4s ease-in-out;
-o-transition: opacity .4s ease-in-out;
opacity: 1;
z-index: 100020;
display: none;
}
#elevator_item.off {
opacity: 0;
visibility: hidden
}
#elevator {
display: block;
width: 60px;
height: 50px;
background: url(../im/scroll/icon_top.png) center center no-repeat;
background-color: #444;
background-color: rgba(0,0,0,.6);
border-radius: 2px;
box-shadow: 0 1px 3px rgba(0,0,0,.2);
cursor: pointer;
margin-bottom: 10px
}
#elevator:hover {
background-color: rgba(0,0,0,.7)
}
#elevator:active {
background-color: rgba(0,0,0,.75)
}



/*------------------------- Blog -----------------------------*/
.date {
  background: url(../im/texture.png);
  -moz-border-radius: 30px 40px 40px 30px;
  border-radius: 30px 40px 40px 30px;
  padding: .5em 0em .5em 0em;
  color: #FAFAFA;
}

.sidepanel {
  background: url(../im/texture.png);
  -moz-border-radius: 0px 0px 40px 30px;
  border-radius: 5px 20px 20px 5px;
  padding-bottom: 5em;
}

.sidepanel h1 {
  border-bottom: 10px solid rgb(252, 252, 252);
}

.blogs {
  background: url(../im/brushed.png);
  padding-bottom: 30em;
}